<body>

 {{> navbar}}
 
  <div>

    <h1>Ficticius Character</h1>
  </div>

  <div>
    <a href='/about'><img
        src='https://www.gannett-cdn.com/presto/2021/03/15/NABJ/bed373b6-58db-41d0-8c1c-f5dc3643394d-johndoebarrel.jpg?crop=619,349,x0,y132&width=619&height=349&format=pjpg&auto=webp'
        alt='John Doe'
      /></a>
  </div>
  <div>
    <a href='/about'><h2>Gess who is?</h2></a>
  </div>

</body>